:root{
    --bg1:#e9f5db;
    --bg2:#90a955;
    --accent:#b5c99a;
    --ink:#232323;
    --splash-duration: 2600ms;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  width: 100%;
  height:100%;
}

body {
    background: linear-gradient(-45deg, #e9f5db, #344e41, #b5c99a, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.wrapper{
    position: relative;
    width: 90%;
    padding: 5%;
    max-width: 500px;
    margin: 50px 50px;
    height: fit-content;
    /* max-height: 50%; */
    background: #90a955;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    flex-direction: column;
    text-align: center;
    outline: 5px solid #b5c99a;
}

.pin-display{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 80%;
}

.pin-box{
  width: clamp(30px, 9vw, 40px);
  height: clamp(30px, 9vw, 50px);
  border: 2px solid #4f772d;
  border-radius: 5px;
  background: rgba(255,255,255,0.2);
}

.heart-pad {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns evenly spaced */
  gap: 15px;
  width: 100%;             /* take full width of wrapper */
  max-width: 300px;        /* optional max width */
  justify-items: center;    /* center buttons in each grid cell */
  margin: 0 auto;           /* center grid horizontally */
}

.heart-pad button {
  width: 80px;
  height: 80px;
  font-size: 1.5rem;
  display: flex;             /* center number inside heart */
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  cursor: pointer;
  background: #b5c99a;
  transition: transform 0.1s ease;
  
}

.heart-pad button:active {
  transform: scale(0.95); /* cute click effect */
}


/* .wrapper i {
  font-size: 50px;
  margin-bottom: 10px;
  color: #e9f5db;
}

i{
    font-size:7.5em;
    color: #e9f5db;
    border: 5px solid transparent;
}

h2{
    font-size: 2em;
    color: #e9f5db;
    margin: 15px 0;
}
@media (max-width: 600px) {
  .h2 {
    font-size: 1.2rem;
  }
}

.btn-group{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

button {
    position: absolute;
    width: 150px;
    height: inherit;
    font-size: 1.2em;
    color: #e9f5db;
    font-weight: 600;
    border-radius: 30px;
    border: 2px solid #4f772d;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

button:nth-child(1){
    margin-left: -200px;
    background: #4f772d;
    color: #b5c99a;
}

button:nth-child(2){
    margin-right: -200px;
    color: #b5c99a;
}

@media (max-width: 400px) {
  .question {
    font-size: 5vw;
  }
  button {
    font-size: 4vw;
  }
} */